In [51]:
import pandas as pd
import os 

os.getcwd()

'/Users/dinizjp/Programação /Repos_DS/Ciclo FTC/Codigos/Cury_company_1.1'

In [52]:
df = pd.read_csv('train_tratado.csv')

In [94]:
df

,Unnamed: 0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,...,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,...,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24
1,1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,...,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33
2,2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,...,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26
3,3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,...,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21
4,4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,...,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42507,42507,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,...,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,32
42508,42508,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,...,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,36
42509,42509,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,...,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,16
42510,42510,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,...,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,26
42511,42511,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,...,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,36

# Manipulação dados parte 1

## Qual o número total de entregadores únicos cadastrados na base de dados?

In [54]:
unicos = len(df['Delivery_person_ID'].unique())
print(f'O número total de entregadores únicos é de {unicos}')

O número total de entregadores únicos é de 1320

## Qual a idade do entregador mais velho? E do mais novo?

In [55]:
mais_velho = df['Delivery_person_Age'].max()
mais_novo = df['Delivery_person_Age'].min()

print(f'O entregador mais velho tem {mais_velho} anos e o mais novo tem {mais_novo}')

O entregador mais velho tem 39 anos e o mais novo tem 20

## Quais são os IDs dos entregadores com a maior idade?

In [89]:
id_mais_velho = pd.DataFrame(df.loc[df['Delivery_person_Age'] == 39, 'Delivery_person_ID'].unique(), columns=['ID'])

id_mais_velho.reset_index(drop=True)

id_mais_velho.head()

                 ID
0    AGRRES12DEL03
1    VADRES02DEL02
2    DEHRES19DEL02
3   CHENRES12DEL03
4  BANGRES010DEL03

## E os IDs dos entregaores com a menor idade?

In [90]:
id_mais_novo = pd.DataFrame(df.loc[df['Delivery_person_Age'] == 20, 'Delivery_person_ID'].unique(), columns=['ID'])

id_mais_novo.reset_index(drop=True)

id_mais_novo.head()

                  ID
0    PUNERES18DEL01
1     SURRES08DEL01
2     BHPRES12DEL02
3  RANCHIRES01DEL03
4    BANGRES11DEL03

## Quais os nomes das condições climáticas?

In [88]:
condicoes = pd.DataFrame(df['Weatherconditions'].unique(), columns=['Condições'])

condicoes

               Condições
0       conditions Sunny
1      conditions Stormy
2  conditions Sandstorms
3      conditions Cloudy
4         conditions Fog
5       conditions Windy

## Quais eram as condicões climáticas da data mais recente de entrega?

In [114]:
df.loc[df['Order_Date'] == df['Order_Date'].max(), 'Weatherconditions'].head(1)

186    conditions Sunny
Name: Weatherconditions, dtype: object

## Quantos tipos de densidade de trânsito existem na base de dados? Quais os nomes delas?

In [131]:
print(f'A quantidade existente é de {len(df["Road_traffic_density"].unique())}')
print(f'Os tipos de densidade são: {list(df["Road_traffic_density"].unique())}')

A quantidade existente é de 4
Os tipos de densidade são: ['High', 'Jam', 'Low', 'Medium']

## Quantas entregas foram feitas em cada condição climática?

In [132]:
entrega_condicao = df[['ID','Weatherconditions']].groupby('Weatherconditions').count()

entrega_condicao.reset_index()

       Weatherconditions    ID
0      conditions Cloudy  7125
1         conditions Fog  7279
2  conditions Sandstorms  7037
3      conditions Stormy  7183
4       conditions Sunny  6863
5       conditions Windy  7025

## Quantos entregadores únicos fizeram entregas em cada condição climática?

In [148]:
id_condicao = (
    df.groupby('Weatherconditions')['Delivery_person_ID']
    .nunique()
    .reset_index()
    .rename(columns={'Delivery_person_ID': 'Count'}))

id_condicao

       Weatherconditions  Count
0      conditions Cloudy   1245
1         conditions Fog   1256
2  conditions Sandstorms   1238
3      conditions Stormy   1233
4       conditions Sunny   1234
5       conditions Windy   1228

## Quantas entregas foram feitas em cada tipo de densidade de trânsito?

In [155]:
entrega_densidade = pd.DataFrame(df['Road_traffic_density'].value_counts().reset_index())

entrega_densidade

    index  Road_traffic_density
0     Low                 14491
1     Jam                 13444
2  Medium                 10376
3    High                  4201

## Quantos entregadores únicos fizeram entregas em cada tipo de densidade de trânsito?

In [150]:
id_densidade = (df.groupby('Road_traffic_density')['Delivery_person_ID']
                .nunique()
                .reset_index()
                .rename(columns={'Delivery_person_ID': 'Count'}))
id_densidade

  Road_traffic_density  Count
0                 High    792
1                  Jam   1307
2                  Low   1306
3               Medium   1289

## Quantas cidades únicas existem na base? Quais são os seus nomes?

In [159]:
print(f'A quantidade de cidades é de:{len(df["City"].unique())}')
print(f'São elas:{list(df["City"].unique())}')

A quantidade de cidades é de:3
São elas:['Urban', 'Metropolitian', 'Semi-Urban']

## Quais os tipos de veículos únicos existem na base?

In [161]:
print(f'Os tipo de veículo únicos são: {df["Type_of_vehicle"].unique()}')

Os tipo de veículo únicos são: ['motorcycle' 'scooter' 'electric_scooter']

## Qual o tipo de veículo que mais fez entregas com a condição de trânsito pesado? ( High )

In [165]:
veiculo_high = df[df['Road_traffic_density'] == 'High']['Type_of_vehicle'].value_counts().idxmax()

print(f'O tipo de veículo com mais entregas no trânsito pesado é: {veiculo_high}')

O tipo de veículo com mais entregas no trânsito pesado é: motorcycle

## Qual o tipo de pedido mais feito durante condições climáticas de tempestade de areia?

In [166]:
pedido_condicao = df[df['Weatherconditions'] == 'conditions Sandstorms']['Type_of_order'].value_counts().idxmax()

print(f'O tipo de pedido mais feito na condição Sandstorms foi:{pedido_condicao}')

O tipo de pedido mais feito na condição Sandstorms foi:Meal

## Qual a cidade com o maior número de pedidos de Bebidas (Drinks) feito em Scooter?

In [174]:
cidade_drink = df[(df['Type_of_order'] == 'Drinks') & (df['Type_of_vehicle'] == 'scooter')]['City'].value_counts().idxmax()

cidade_drink

'Metropolitian'

## Qual o nome da cidade com o (os) entregador mais velho? E o nome da cidade com o (os) entregadores mais novos?

In [175]:
cidade_older = df.groupby('City')['Delivery_person_Age'].max().idxmax()

cidade_youngest = df.groupby('City')['Delivery_person_Age'].min().idxmin()

print(f'O nome da cidade com o entregador mais velhor é: {cidade_older}, já com o entregador mais novo é: {cidade_youngest}')

O nome da cidade com o entregador mais velhor é: Metropolitian, já com o entregador mais novo é: Metropolitian

## Quantas entregas foram feitas durante o Festival?

In [179]:
print(f"A quantidade de entregas feitas durante o festival é: {len(list(df.loc[df['Festival'] == 'Yes ', 'ID']))}")

A quantidade de entregas feitas durante o festival é: 839

In [180]:
len(df.loc[df['Festival'] == 'Yes ', 'City'].unique())

3

## Quantas entregas foram feitas durante o Festival na cidade chamada Urban ("Urban")

In [190]:
print(f"A quantidade de entregas feutas durante o Festival é {len(df.loc[(df['Festival'] == 'Yes ') & (df['City'] == 'Urban '), 'ID'])}")

A quantidade de entregas feutas durante o Festival é 0