In [75]:
import pandas as pd 
import os 

os.getcwd()

'/Users/dinizjp/Programação /Repos_DS/Ciclo FTC/Codigos/Cury_company_1.1'

In [76]:
df = pd.read_csv('train.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

# Removendo os espaços

In [78]:
df.loc[:,'ID'] = df.loc[:,'ID'].str.strip()

df.loc[:,'Delivery_person_Age'] = df.loc[:,'Delivery_person_Age'].str.strip()

df.loc[:,'Road_traffic_density'] = df.loc[:,'Road_traffic_density'].str.strip()

df.loc[:,'Type_of_order'] = df.loc[:,'Type_of_order'].str.strip()

df.loc[:,'Type_of_vehicle'] = df.loc[:,'Type_of_vehicle'].str.strip()

df.loc[:,'City'] = df.loc[:,'City'].str.strip()

df.loc[:,'Time_taken(min)']= df.loc[:,'Time_taken(min)'].str.strip()

# Removendo valores nulos

In [79]:
df

linha_vazias0 = df.loc[:, 'Delivery_person_Age'] != 'NaN'
df = df.loc[linha_vazias0, :]

linha_vazias1 = df.loc[:, 'City'] != 'NaN'
df = df.loc[linha_vazias1, :]

linha_vazias2 = df.loc[:, 'multiple_deliveries'] != 'NaN'
df = df.loc[linha_vazias2, :]

linha_vazias3 = df.loc[:, 'Festival'] != 'NaN'
df = df.loc[linha_vazias3, :]

linha_vazias4 = df.loc[:, 'Road_traffic_density'] != 'NaN'
df = df.loc[linha_vazias4, :]

# Convertendo valores

In [80]:
import re

In [81]:
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype(int)

df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype(float)

df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')

df['Time_taken(min)'] = df['Time_taken(min)'].apply(lambda x: re.sub(r'\(min\)', '', x))

df['Time_taken(min)'] = df['Time_taken(min)'].astype(int)

df = df.reset_index(drop=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42512 entries, 0 to 42511
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           42512 non-null  object
 1   Delivery_person_ID           42512 non-null  object
 2   Delivery_person_Age          42512 non-null  int64
 3   Delivery_person_Ratings      42459 non-null  float64
 4   Restaurant_latitude          42512 non-null  float64
 5   Restaurant_longitude         42512 non-null  float64
 6   Delivery_location_latitude   42512 non-null  float64
 7   Delivery_location_longitude  42512 non-null  float64
 8   Order_Date                   42512 non-null  datetime64[ns]
 9   Time_Orderd                  42512 non-null  object
 10  Time_Order_picked            42512 non-null  object
 11  Weatherconditions            42512 non-null  object
 12  Road_traffic_density         42512 non-null  object
 13  Vehicle_condition            42512 non-null  int64
 14  Type_of_order                42512 non-null  object
 15  Type_of_vehicle              42512 non-null  object
 16  multiple_deliveries          42512 non-null  object
 17  Festival                     42512 non-null  object
 18  City                         42512 non-null  object
 19  Time_taken(min)              42512 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(11)
memory usage: 6.5+ MB

In [86]:
df = df.to_csv('train_tratado.csv')